{% extends "base.html" %}
{% load static %}

{% block title %}Sub Admin Dashboard{% endblock %}

{% block content %}

<div class="d-flex">
    {% include 'sidebar.html' %}

    <div class="flex-grow-1 p-4 bg-light main-content-scroll">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div>
                <h2 class="fw-bold text-dark mb-1">
                    {{ request.user.first_name|capfirst }} {{ request.user.last_name|capfirst }}
                </h2>
                <p class="text-muted small mb-0">
                    {{ request.user.email }}
                </p>
            </div>
        </div>

        <div class="row g-4 mt-1">

            <div class="col-md-4">
                <a href="{% url 'user_management' %}" style="text-decoration: none;">
                    <div class="card custom-card shadow-sm">
                        <div class="card-body p-4 text-center">
                            <h6 class="text-muted fw-semibold mb-2">Total DevBoard Users</h6>
                            <h2 class="fw-bold text-dark">{{ total_dev_users }}</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="{% url 'crud_management' %}" style="text-decoration: none;">
                    <div class="card custom-card shadow-sm">
                        <div class="card-body p-4 text-center">
                            <h6 class="text-muted fw-semibold mb-2">Total Students</h6>
                            <h2 class="fw-bold text-dark">{{ total_students }}</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="{% url 'bank_management' %}" style="text-decoration: none;">
                    <div class="card custom-card shadow-sm">
                        <div class="card-body p-4 text-center">
                            <h6 class="text-muted fw-semibold mb-2">Total Bank Users</h6>
                            <h2 class="fw-bold text-dark">{{ total_banks_account }}</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="{% url 'stripe_management' %}" style="text-decoration: none;">
                    <div class="card custom-card shadow-sm">
                        <div class="card-body p-4 text-center">
                            <h6 class="text-muted fw-semibold mb-2">Total Items</h6>
                            <h2 class="fw-bold text-dark">{{ total_items }}</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="{% url 'paypal_management' %}" style="text-decoration: none;">
                    <div class="card custom-card shadow-sm">
                        <div class="card-body p-4 text-center">
                            <h6 class="text-muted fw-semibold mb-2">Total Subscriptions</h6>
                            <h2 class="fw-bold text-dark">{{ total_subscription }}</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="#" style="text-decoration: none;">
                    <div class="card custom-card shadow-sm">
                        <div class="card-body p-4 text-center">
                            <h6 class="text-muted fw-semibold mb-2">Total Register Bank</h6>
                            <h2 class="fw-bold text-dark">{{ total_register_bank }}</h2>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>

</div>

<script>
    const links = document.querySelectorAll(".sidebar-link");

    links.forEach(link => {
        link.addEventListener("click", function () {
            links.forEach(l => l.classList.remove("active"));
            this.classList.add("active");
        });
    });

</script>

{% endblock %}