{% extends "base.html" %}

{% block title %}My Cart{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <a href="{% url 'item_detail' %}" class="btn btn-outline-dark rounded-3 px-3">
        ← Back
    </a>

    <a href="{% url 'cart_page' %}"
       class="d-flex flex-column align-items-center text-dark text-decoration-none position-relative">

        <i class="fa-solid fa-cart-shopping fs-4"></i>

        {% if cart_count > 0 %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ cart_count }}
            </span>
        {% endif %}

        <small style="font-size: 12px;">Cart</small>
    </a>

</div>

<div class="container mb-4">
    <form method="GET" class="d-flex w-100">

        <input type="text" name="q" value="{{ request.GET.q }}"
               class="form-control rounded-3 me-2"
               placeholder="Search......">

        <button type="submit" class="btn btn-dark rounded-3 px-4">
            <i class="fa fa-search"></i>
        </button>

    </form>
</div>

<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-5">
        <h2 class="fw-bold m-0">My Cart</h2>
    </div>

    <div class="row">

{% for cart in cart_items %}
<div class="col-12 mb-3">

    <div class="card shadow-sm border-0 rounded-3 p-3 cart-card">

        <div class="row align-items-center">

            <div class="col-3 text-center">
                <img src="{{ cart.item.image.url }}"
                     class="img-fluid rounded"
                     style="height: 100px; object-fit: cover;">
            </div>

            <div class="col-6">
                <h6 class="fw-bold mb-1">{{ cart.item.title }}</h6>
                <p class="text-muted small mb-1">{{ cart.item.brand }}</p>

                <span class="fw-bold text-dark">
                    ₹{{ cart.item.price }}
                </span>

                <p class="mb-0 small">
                    Qty: {{ cart.quantity }}
                </p>
            </div>

            <div class="col-3 text-end">
                <a href="{% url 'checkout_page' cart.item.id %}"
                   class="badge bg-success text-white mt-2 px-3 py-2">
                    Buy
                </a>

                <a href="{% url 'delete_cart_item' cart.id %}"
                   class="btn btn-outline-danger btn-sm">
                    Delete
                </a>

            </div>

        </div>

    </div>

</div>
{% endfor %}

</div>

</div>

<style>
.custom-hover-card {
    transition: all 0.3s ease;
}

.custom-hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
</style>

{% endblock %}