{% extends 'base.html' %}

{% block title %}Create Account{% endblock %}

{% block content %}
<div class="mb-4">
        <a href="{% url 'bank_dashboard' %}" class="btn btn-outline-dark rounded-3 px-3">
            ← Back
        </a>
</div>

<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'all_records' %}" class="btn btn-outline-dark rounded-3 px-3">
        <i class="fa-solid fa-database me-2"></i>
        View All Records →
    </a>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">

        <div class="card shadow-sm border-0 rounded-3">
            <div class="card-body p-4">

                <h3 class="text-center mb-4 fw-bold">Create Bank Account</h3>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success text-center py-2">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Customer Name</label>
                        {{ form.customer_name }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Phone Number</label>
                        {{ form.phone_number }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Email</label>
                        {{ form.email }}
                    </div>

                    <div class="mb-3">
                        <label>Gender:</label>
                        {{ form.gender }}
                    </div>

                    <div class="mb-3">
                        <label>Bank:</label>
                        {{ form.bank }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Address</label>
                        {{ form.address }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Aadhar Number</label>
                        {{ form.aadhar_number }}
                    </div>

                    <button type="submit" class="btn btn-dark w-100 fw-bold">
                        Create Account
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}