<!DOCTYPE html>
<html>
<body style="font-family: Arial; line-height: 1.6;">

    <h2>Congratulations {{ name }}!</h2>

    <p>Your bank account has been successfully created.</p>

    <h3>Account Details:</h3>
    <ul>
        <li><strong>Account Number:</strong> {{ account_number }}</li>
        <li><strong>Bank:</strong> {{ bank }}</li>
        <li><strong>IFSC Code:</strong> {{ ifsc }}</li>
        <li><strong>Aadhar Number</strong> {{ aadhar_number }}</li>
    </ul>

    <p style="color:red;">
        ⚠️ Do NOT share your account details with anyone.
    </p>

    <p style="margin-top:20px;">
        <strong>Note:</strong> Please use the buttons below to manage your account status.
        Click <b>Activate</b> to activate your account, or click <b>Deactivate</b> if you do not wish to proceed.
    </p>

    <div style="margin-top: 20px;">
        <a href="{{ activate_url }}"
           style="padding:10px 20px; background-color:green; color:white; text-decoration:none; border-radius:5px; margin-right:10px;">
            Activate
        </a>

        <a href="{{ deactivate_url }}"
           style="padding:10px 20px; background-color:red; color:white; text-decoration:none; border-radius:5px;">
            Deactivate
        </a>
    </div>

    <p style="margin-top:30px;">
        Thank you for choosing our bank
    </p>

</body>
</html>