<!DOCTYPE html>
<html>
<body style="font-family: Arial; line-height: 1.6;">

    <h2>Congratulations {{ name }}!</h2>

    <p>Your bank account has been successfully created.</p>

    <h3>Account Details:</h3>
    <ul>
        <li><strong>Account Number:</strong> {{ account_number }}</li>
        <li><strong>Bank:</strong> {{ bank }}</li>
        <li><strong>IFSC Code:</strong> {{ ifsc }}</li>
        <li><strong>Aadhar Number</strong> {{ aadhar_number }}</li>
    </ul>

    <p style="color:red;">
        ⚠️ Do NOT share your account details with anyone.
    </p>

    <p style="margin-top:30px;">
        Thank you for choosing {{ bank }} bank
    </p>

</body>
</html>