<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row g-3">

        <div class="col-md-6">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>

        <div class="col-md-6">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>

        <div class="col-md-6">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
        </div>

        <div class="col-md-6">
            {{ form.gender.label_tag }}
            {{ form.gender }}
        </div>

        <div class="col-12">
            {{ form.biograph.label_tag }}
            {{ form.biograph }}
        </div>

        <div class="col-12">
            {{ form.profile_pic.label_tag }}
            {{ form.profile_pic }}
        </div>

    </div>

    <button class="btn btn-dark mt-4 px-4 rounded-pill">
        Save Changes
    </button>
</form>