{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/css/intlTelInput.css"/>

<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>



</head>

<body>

<div class="split-container">

<div class="split-form-container">
    <div class="signup-card">

        <div class="logo-container" style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
                    <div class="logo-circle" style="width: 150px; height: 150px; bg-color: #875a7b; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center; background-color: #8a5a7b;">
                        <img src="{% static 'images/odoo_logo.jfif' %}" alt="logo" style="width: 85%; height: auto; object-fit: contain;">
                    </div>
        </div>

        <h3 class="text-center mb-4 fw-bold">Create Account</h3>

            {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} p-2" style="font-size: 14px;">
                            {{ message }}
                        </div>
                    {% endfor %}
            {% endif %}


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger">
                Please enter correct details
            </div>
            {% endif %}

            <div class="form-group">
                <label>First Name</label>
                {{ form.first_name }}
            </div>

            <div class="form-group">
                <label>Last Name</label>
                {{ form.last_name }}
            </div>

            <div class="form-group">
                <label>Gender</label>
                {{ form.gender }}
            </div>

            <div class="form-group">
                <label>Email</label>
                {{ form.email }}
            </div>

            <div class="mb-4">
                <label class="form-label">Phone</label>

                <input type="tel"
                       id="phone"
                       name="phone_number"
                       class="form-control w-100"
                       maxlength="15">
            </div>

            <div class="form-group">
                <label>Profile Picture</label>
                {{ form.profile_pic }}
                <div id="file-error" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <div class="input-wrapper">
                    {{ form.password }}
                    <div class="text-danger">{{ form.password.errors}}</div>
                </div>
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <div class="input-wrapper">
                    {{ form.confirm_password }}
                    <div class="text-danger">{{ form.confirm_password.errors}}</div>
                </div>
            </div>

            <button type="submit" class="signup-btn">Sign Up</button>

            <button type="button"
                    onclick="window.location.href='{% url 'user_login' %}'"
                    class="login-button mt-2">
                Sign In
            </button>

        </form>

    </div>
</div>

</div>

<script>
document.addEventListener("DOMContentLoaded", function() {

    function allowOnlyLetters(input) {
        if (input) {
            input.addEventListener("input", function() {
                this.value = this.value.replace(/[^A-Za-z ]/g, '');
            });
        }
    }

    allowOnlyLetters(document.querySelector("input[name='first_name']"));
    allowOnlyLetters(document.querySelector("input[name='last_name']"));

    const fileInput = document.querySelector("input[name='profile_pic']");
    const errorDiv = document.getElementById("file-error");

    const allowedExtensions = ["jpg", "jpeg", "png", "heic"];

    if (fileInput) {
        fileInput.addEventListener("change", function () {
            const file = this.files[0];

            if (file) {
                const extension = file.name.toLowerCase().split('.').pop();

                if (!allowedExtensions.includes(extension)) {
                    errorDiv.innerText = "Only JPG, JPEG, PNG, HEIC allowed!";
                    this.value = "";
                } else {
                    errorDiv.innerText = "";
                }
            }
        });
    }

    const input = document.querySelector("#phone");

    if (input) {
        const iti = window.intlTelInput(input, {
            initialCountry: "in",
            separateDialCode: true,
            preferredCountries: ["in", "us", "gb"],
            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js"
        });

        input.addEventListener("input", function () {
            this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);
        });
    }

});
</script>

</body>
</html>